body {
    margin: 0;
}

#todolist{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid black;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

#heading{
    color: gray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 45px;
    text-align: center;
}

#span{
    color: pink;
}

.headInput {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#input{
    width: 500px;
    border-radius: 25px;
    padding: 10px 15px;
    box-shadow: 5px 10px 20px lightgray inset;
    outline: none;
    border: 2px solid gray;
    overflow-x: hidden;
}

#input:hover {
    box-shadow: 5px 10px 18px #888888;
}

#button{
    height: 30px;
    width: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: gray;
    color: pink;
    margin: 5px 0px 0px 8px;
    cursor: pointer;
}

#ul_div {
    max-height: 350px;
    margin: auto;
    overflow : hidden;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    position: relative;
    list-style-type: none;
    font-size: 23px;
    transition: 0.2s;
    padding: 15px;
    border-bottom: 2px solid gray;
    box-shadow: 5px 10px 20px pink inset;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 530px;
    opacity: 0;
    animation : new-item-animation .6s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateX(-400px);
}
 
    to {
        opacity: 1;
        transform : translateX(0);
    }
}

ul li:hover {
    background-color: lightgray;
    cursor: pointer;
    box-shadow: none;
}

li.removed-item {
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes removed-item-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }
 
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.close {
    color: gray;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 3px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    font-weight: bold;
}

ul li.checked {
    background: rgb(34, 32, 32);
    color: #fff;
    text-decoration: line-through;
    box-shadow: 3px 3px 8px #888888
}

#deleteAll {
    background: rgb(34, 32, 32);
    outline: none;
    border: none;
    color: white;
    padding: 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}
